* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(241, 200, 192);
}
#MenuItems {
  cursor: pointer;
  height: 35px;
  width: 35px;
  margin-left: 20px;
  overflow: hidden;
  transition: max-height 0.5s ease;
}
